# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/.terraform.tfstate.lock.info

# Ansible
*.retry
ansible/.vault_pass
ansible/vars/secrets.yml

# Environment
.envrc
.env

# OS
.DS_Store

# Sensitive
*secret*
*token*
*password*

# Private journal
.private-journal/

# Editor
*.swp
*.swo
*~
.vscode/
.idea/
