---
# Install and configure homelab shell environment

- name: Install homelab shell packages
  ansible.builtin.apt:
    name: "{{ homelab_shell_packages }}"
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: Install enhanced shell packages
  ansible.builtin.apt:
    name: "{{ homelab_shell_enhanced_packages }}"
    state: present
    update_cache: true
  when:
    - ansible_facts['os_family'] == "Debian"
    - homelab_shell_enhanced | bool
  ignore_errors: true  # eza and zoxide may not be in default repos

- name: Check if starship is installed
  ansible.builtin.stat:
    path: /usr/local/bin/starship
  register: starship_bin

- name: Download and install starship
  block:
    - name: Download starship installer
      ansible.builtin.get_url:
        url: https://starship.rs/install.sh
        dest: /tmp/starship-install.sh
        mode: '0755'

    - name: Install starship
      ansible.builtin.command: /tmp/starship-install.sh --yes
      changed_when: true

    - name: Remove installer
      ansible.builtin.file:
        path: /tmp/starship-install.sh
        state: absent
  when: not starship_bin.stat.exists

- name: Build list of users for dotfiles deployment
  ansible.builtin.set_fact:
    dotfiles_deploy_users: "{{ homelab_dotfiles_users + ([media_user_name] if media_user_enabled else []) }}"

- name: Deploy homelab dotfiles for users
  block:
    - name: Create .config/zsh directory for users
      ansible.builtin.file:
        path: "{{ '/root' if item == 'root' else '/home/' + item }}/.config/zsh"
        state: directory
        owner: "{{ item }}"
        group: "{{ item }}"
        mode: '0755'
      loop: "{{ dotfiles_deploy_users }}"

    - name: Create .config/starship directory for users
      ansible.builtin.file:
        path: "{{ '/root' if item == 'root' else '/home/' + item }}/.config/starship"
        state: directory
        owner: "{{ item }}"
        group: "{{ item }}"
        mode: '0755'
      loop: "{{ dotfiles_deploy_users }}"

    - name: Copy homelab .zshrc
      ansible.builtin.copy:
        src: "{{ homelab_dotfiles_local_path }}/.zshrc"
        dest: "{{ '/root' if item == 'root' else '/home/' + item }}/.zshrc"
        owner: "{{ item }}"
        group: "{{ item }}"
        mode: '0644'
      loop: "{{ dotfiles_deploy_users }}"

    - name: Copy homelab aliases
      ansible.builtin.copy:
        src: "{{ homelab_dotfiles_local_path }}/.config/zsh/aliases.bash"
        dest: "{{ '/root' if item == 'root' else '/home/' + item }}/.config/zsh/aliases.bash"
        owner: "{{ item }}"
        group: "{{ item }}"
        mode: '0644'
      loop: "{{ dotfiles_deploy_users }}"

    - name: Copy starship config
      ansible.builtin.copy:
        src: "{{ homelab_dotfiles_local_path }}/.config/starship/starship.toml"
        dest: "{{ '/root' if item == 'root' else '/home/' + item }}/.config/starship/starship.toml"
        owner: "{{ item }}"
        group: "{{ item }}"
        mode: '0644'
      loop: "{{ dotfiles_deploy_users }}"

    - name: Set zsh as default shell for users
      ansible.builtin.user:
        name: "{{ item }}"
        shell: /usr/bin/zsh
      loop: "{{ dotfiles_deploy_users }}"
  when: homelab_dotfiles_enabled | bool
