---
# Package management tasks

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Install common packages
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
  when: ansible_os_family == "Debian"
