---
# Package management tasks

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_facts['os_family'] == "Debian"

- name: Install common packages
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
  when: ansible_facts['os_family'] == "Debian"
