---
# System configuration tasks

- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"
  when: timezone is defined

- name: Set locale
  ansible.builtin.locale_gen:
    name: "{{ locale }}"
    state: present
  when: locale is defined

- name: Set hostname if defined
  ansible.builtin.hostname:
    name: "{{ inventory_hostname_short }}"
  when: inventory_hostname_short is defined
