---
# Playbook for configuring Samba (Samba file server)

- name: Configure Samba container (Samba)
  hosts: samba
  become: true
  gather_facts: true

  vars_files:
    - ../vars/secrets.yml

  pre_tasks:
    - name: Wait for container to be reachable
      ansible.builtin.wait_for_connection:
        timeout: 300
        delay: 10
      tags: always

    - name: Gather facts after connection
      ansible.builtin.setup:
      tags: always

  roles:
    - role: common
      vars:
        media_user_enabled: true       # Samba needs media user for file sharing
        homelab_shell_enabled: true    # Enable zsh and tools for troubleshooting
      tags: ['common', 'base']

    - role: samba
      tags: [samba]

  post_tasks:
    - name: Display Samba server information
      ansible.builtin.debug:
        msg:
          - "Samba server configured successfully!"
          - "Access via: \\\\{{ ansible_facts['default_ipv4'].address }}\\storage"
          - "Username: media"
          - "Password: (stored in Ansible Vault)"
      tags: always
