---
# Create CouchDB database and users for LiveSync

- name: Create LiveSync database
  ansible.builtin.uri:
    url: "http://localhost:{{ couchdb_port }}/{{ couchdb_livesync_database }}"
    method: PUT
    user: "{{ couchdb_admin_user }}"
    password: "{{ couchdb_admin_password }}"
    force_basic_auth: true
    status_code: [201, 412]  # 412 = already exists
  register: db_create_result

- name: Create sync users
  ansible.builtin.uri:
    url: "http://localhost:{{ couchdb_port }}/_users/org.couchdb.user:{{ item.name }}"
    method: PUT
    user: "{{ couchdb_admin_user }}"
    password: "{{ couchdb_admin_password }}"
    force_basic_auth: true
    body_format: json
    body:
      _id: "org.couchdb.user:{{ item.name }}"
      name: "{{ item.name }}"
      password: "{{ item.password }}"
      roles: []
      type: user
    status_code: [201, 409]  # 409 = already exists
  loop: "{{ couchdb_sync_users }}"
  no_log: true

- name: Set database security - allow sync users
  ansible.builtin.uri:
    url: "http://localhost:{{ couchdb_port }}/{{ couchdb_livesync_database }}/_security"
    method: PUT
    user: "{{ couchdb_admin_user }}"
    password: "{{ couchdb_admin_password }}"
    force_basic_auth: true
    body_format: json
    body:
      admins:
        names: ["{{ couchdb_admin_user }}"]
        roles: []
      members:
        names: "{{ couchdb_sync_users | map(attribute='name') | list }}"
        roles: []
    status_code: [200, 201]
